<DOCTYPE html>
<html>
	<head>
		<title>Error page</title>
		<meta charset="utf-8" />
        <link rel="stylesheet" href="/CSS/StyleSheet.css" />
    </head>
    <body>
        <div class="header">
            <h1>City Weather Error Page</h1>
        </div>
        <div class="container page-content flex">
            <div class="box">
                <h2>Something went wrong : 404</h2>
                <a href="/">Go back to Home Page</a>
            </div>
        </div>
        <div class="footer-content">
            <p>Weather data provided by the WeatherApp</p>
        </div>
	</body>
</html>
