<!DOCTYPE html>
<html>
<head>
    <title>Weather Information</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./CSS/StyleSheet.css" />
</head>
<body>
    <div class="header">
        <h1>City Weather Report</h1>
    </div>
    <div class="container page-content flex">
        @RenderBody()
    </div>
    <div class="footer-content">
        <p>Weather data provided by the WeatherApp</p>
    </div>
</body>
</html>
