@model CityWeather

@{
	CityWeather singleCityWeather = Model;
}

<div>@singleCityWeather.CityUniqeCode</div>
<div>@singleCityWeather.CityName</div>
<div>@singleCityWeather.DateAndTime</div>
<div>@singleCityWeather.TemperatureFahrenheit oF</div>